*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background:url(https://images.freeimages.com/images/large-previews/3d3/droplets-1395002.jpg);
    background-size: cover;
    color: #fff;
    font-size: 16px;
}
.container {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
}
.widget{
    /* width: 40%; */
    margin: 50px auto;

}
.widget-date {
    font-family: 'Oswald', sans-serif;
    background: rgba(0, 0, 0,.5);
    display: flex;
    justify-content: center; 
    margin-bottom: 5px;
    font-size: 3em;
    width: 100%;
}
.widget-reloj {
    font-family: 'Oswald', sans-serif;
    background: rgba(0, 0, 0,.5);
    display: flex;
    justify-content: center;
    font-size: 7em;
}
.widged-reloj__wrapsec {
    display: block;
    margin-top: 30px
}
.widget-reloj__ampm {
    font-size: 3rem;
    margin-top: -10px;
}
.widget-reloj__sec{
    font-size: 3rem;
    margin-top: -10px;
}